@import "../../../styles.scss";

.top{
  @include top;
}
.content{
  .tile{
    margin-bottom: 60px;
    a{
      text-decoration: none;
      img{

      }
      h3{
        margin-top: 12px;
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;
        color: #fff;
      }
      ngb-rating{
        color: #FFC302;
        font-size: 12px;
      }
    }
  }
}
