@import "../../../styles.scss";

form{
  background-color: #fff;
  padding: 6px;
  width: 630px;
  display: flex;
  justify-content: space-between;
  input{
    border: none;
    font-weight: 400;
    color: #000;
    @include placeholder;
    width: calc(100% - 136px);
    padding-left: 14px;
  }
  button{
    background-color: #00A496;
    color: #fff;
    font-weight: 700;
    @include font-style;
    padding: 13px 28px 14px 34px;
    border: none;
    border-radius: 2px;
  }
}
